body{
  /* overflow: hidden; */
}

.joblist {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px;
}
.content{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.joblist .job {
  padding: 18px;
}
.title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.jobDis{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-label{
  font-weight: 600;
}

.page{
  border:1px solid  rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-left: auto;
}

.search-bar {
  position: relative;
}

.search-bar .form-control {
  padding-left: 20px;  
}

.search-bar .search-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #898989;
  font-size: 12px;
}

.applicationForm{
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
.form-header{
  border-bottom: 1px solid rgb(0 0 0 / 18%);
  padding: 10px;
}
.form-field{
  padding: 10px;
}